@import "tailwindcss";

.ok{
  height: 700px;
    width: 100%;
}
/* .pp {
  background-image: url("FriedRice1.jpeg");
  background-size: contain;
} */
.pp {
  background-image: url("FriedRice1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.pi {
  background-image: url("pasta.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.kp {
  background-image: url("Ribs.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mp {
  background-image: url("sparg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.go {
  background-image: url("desert.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.kl{
  height: 300px;
    width: 100%;
    gap: 10px;
    background-image: 100%,100%;
}


.aa {
  background-image: url("Shawarma2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.oo{
  background-image: url("rider.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.obi{
  background-image: url("partner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.oop{
  background-image: url("career.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.kk{
  
  width: 100%;
}
/* .pp {
  background-image: url("FriedRice1.jpeg");
  background-size: contain;
} */
.pp {
  background-image: url("FriedRice1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.aa {
  background-image: url("Shawarma2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bb {
  background-image: url("Egusi1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cc {
  background-image: url("Akara1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ss{
  font-family: 'impact';
  font-size: 50px;
  text-align: center;
}

.ab{
  transform: scaleX(0.9);
}